.page-header {
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Para que o ícone de voltar fique totalmente pra esquerda e a logo totalmente pra direita */
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

/* Tudo que tiver Link estará referenciando a tag <a> */
.page-header .top-bar-container a{
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover{
    opacity: 0.6;
}

/* O ">" aabaixo serve para indicar que ele quer pegar a tag img que está em primeiro nível na classe top-bar-container, ou seja, a tag img que está dentro do componente Link, não está em primeiro nível. (Para esse caso tbm funcionaria usar img:last-child, para pegar o último img utilizado nessa classe)*/
.page-header .top-bar-container > img{
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 0 auto; /* 0 em cima e em baixo e centralizado horizontalmente*/
    position: relative;
    margin: 3.2rem auto; /* Aumenta com base na margem declarada acima */
}

.page-header .header-content strong{
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p{
    max-width: 30rem; /* Limita a largura pra quebrar a linha do texto */
    font-size: 1.6rem;
    line-height: 2.6rem; /* Espaçamento entre uma linha e outra */
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

/* ======== Quando a tela tiver pelo menos 700px ========== */
@media (min-width:700px) {
    .page-header {
        height: 340px; /* O .page-header terá essa largura fixa */
    }
    
    .page-header .top-bar-container{
        max-width: 1100px;
    }

    .page-header .header-content{
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .page-header .header-content strong{
        max-width: 350px; /* Para que o texto fique com quebra de linha */
    }
}
